header {
    height: 570px;
    font-family: 'Gilroy';
    font-weight: bold;
    margin-top: -10;
}

header a {
    padding-top: 33;
    text-decoration: none;
    text-align: center;
}

header hr {
    margin-top: 35px;
}

.first {
    text-align: left;
}

.last {
    text-align: end;
}

h1 {
    font-size: 47px;
    line-height: 59px;
}

h2 {
    margin-top: 40px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.header-center-block {
    position: relative;
    top: 80px;
}

.lang {
    position: relative;
    left: 95px;
    font-size: 16px;
    transform: rotate(-90deg);
}

.font-medium {
    font-family: 'Gilroy';
    font-weight: 500;
}

.font-bold {
    font-family: 'Gilroy';
    font-weight: bold;
}

.content {
    background: #fff;
}

.content-grey {
    margin-top: 112px;
    background: #F6F6F6;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    Height: 309;
}

.grid-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-menu a {
    font-size: 18px;
    line-height: 22px;
    color: #828282;

}

.main-menu a.active {
    color: #070707;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 70px;

}

.gray-background {
    background: #F6F6F6;
}

.logo-image {
    position: relative;
    width: 943.61px;
    height: 387px;
    background: url(img/babochki.jpeg) no-repeat center center;
    background-size: cover;
    background-position: bottom 0 px center;
}

.about {
    width: 945px;
    height: 400px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.skills {
    width: 945px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.prog {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.postman-img{
    margin-top: 83px; 
}

.postman-img img{
    width: 72px;
    height: 66px;
    top: 549px;
    left: 413px;

}

.posman-name{
    margin-top: 23px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;


    color: #828282;
}

.idea-img {
    margin-top: 83px;
}

.idea-img img {
    width: 62px;
    height: 62px;
    top: 551px;
    left: 516px;
}

.idea-name {
    margin-top: 23px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;


    color: #828282; 
}

.confa-img {
    margin-top: 73px;
}

.confa-img img {
    width: 93px;
    height: 92px;
    top: 534px;
    left: 653px;
}

.confa-name {
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;  
}

.figma-img {
    margin-top: 83px;
}

.figma-img img {
    width: 38px;
    height: 59px;
    top: 550px;
    left: 659px; 
}

.figma-name {
    margin-top: 23px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282; 
}

.slack-img {
    margin-top: 83px; 
}

.slack-img img {
    width: 60px;
    height: 59px;
    top: 551px;
    left: 752px;   
}

.slack-name {
    margin-top: 23px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282; 
}

.asana-img {
    margin-top: 105px; 
}

.asana-img img {
    width: 169px;
    height: 34px;
    top: 563px;
    left: 843px;   
}

.asana-name {
    margin-top: 23px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;  
}

.rating .star {
    width: 30px;
    height: 30px;
    background: url(img/star.png);
    background-size: 30px 30px;
}

.rating .star-empty {
    width: 30px;
    height: 30px;
    background: url(img/star-empty.png);
    background-size: 30px 30px;
}

.portfolio {
    height: 2253px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.course {
    width: 614;
    height: 309px;
}

.course-img img {
    width: 279px;
    height: 191px;
}

.contacts {
    width: 945px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.contacts h2 {
    margin-top: 50px;
}

.contacts .button {
    margin-top: 50px;
    border-radius: 30px;
    background: #070707;
    color: #FFFFFF;
    height: 32px;
    width: 180px;
    text-align: center;
    padding-top: 10px;
    position: relative;
}

.like-me {
    margin-top: 50px;
}

.ico {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.like-me-text {
    margin-top: 50px;
    font-size: 14px;
    line-height: 17px;
    width: 194px;
    text-align: center;

    color: #828282;
}

.experience {
    max-width: 1170px;
    margin: auto;

}

table th, table td {
    text-align: center;
    padding: 30px;
}

table {
    background-color: #E5E5E5;
    border: 2px solid white;
    border-collapse: collapse;
}
th {
    border: 2px solid white;
}

td {
    border: 2px solid white;
}